.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(13, 30, 66);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-container {
  margin: 1cm;
  align-items: left;
  justify-content: left;
}

.App-link {
  color: #61dafb;
}



div.code-block {
  margin: cm;
  border-radius: 3px;
  border: 1px solid red;
}

div.code-block.pre {
  margin: 5cm;
  border-radius: 25px;
  border: 1px solid red;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
